{% extends 'base_layout.html' %}
{% block content %}
<div class="container">
    <h2 class="mt-3">{{matched_set.name}}</h2>
    <p>{{matched_set.description}}</p>
    <hr>
    
    {% for card in cards %}
    <div class="card mt-3">
        <div class="card-body pa-3 ms-2 text-center">
          <p id="change-answer-text" class="text-center">{{card.question}}</p>
          <span id="answer-{{forloop.counter}}" style="display:none;", class="text-success">{{card.answer}}</span>
        </div>
        <a href="javascript:void(0)" id="button-{{forloop.counter}}" class="btn btn-primary" onclick="toggle('answer-{{forloop.counter}}', 'button-{{forloop.counter}}')">Show answer</a>
    </div>
    {% endfor %}
</div>
<script>
    function toggle(answerslug, buttonslug) {
      var answer = document.getElementById(answerslug);
      var button = document.getElementById(buttonslug)
      if (answer.style.display === "none") {
        
        answer.style.display = "block";
        button.innerText = "Hide Answer";
      } else {
        answer.style.display = "none";
        button.innerText = "Show Answer";
      }
    }
</script>
{% endblock %}

