{% extends 'base_layout.html' %}

{% block title %} - Signup {% endblock %}
{% block content %}
<div class="container">
    <div class="center-block mx-auto" style="width: 800px">
        <div class="card mt-5">
            <div class="card-header">
                <h1>Login</h1>
              </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button href="{% url 'login' %}" type="submit" class="btn btn-primary">Login</button>
                    <br>
                    <p class="mt-2 mb-0">Don't have an account? <a href="{% url 'signup' %}">Sign-up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>    
</div>
{% endblock %}